@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Be Vietnam Pro', sans-serif;
  }
}

.slick-slider .slick-dots > li > button:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: transparent;
  border: 1px solid hsl(12, 88%, 59%);
  opacity: 1;
}

.slick-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: hsl(12, 88%, 59%);
}

ul.slick-dots li button {
  width: auto;
  height: auto;
  padding: 2px;
}

ul.slick-dots li {
  width: auto;
  padding: 2px;
  margin: 0 2px;
}

.slick-slider > ul {
  bottom: -45px;
}

.modal-overlay {
  background: linear-gradient(white 40%, black 70%);
  opacity: 0.5;
}
/* .slick-track {
  scroll-snap-type: x mandatory;
}

.slick-track > div {
  scroll-snap-align: center;
} */

.scrollWrapper::-webkit-scrollbar {
  display: none;
}

.scrollWrapper {
  -webkit-overflow-scrolling: touch;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }